<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Redes Sociais</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="redes-sociais">
                    <li>
                        <a href="https://github.com/evyrosa" target="_blank"
                        class="icoGithub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/evelyn-rosa-946a261b2/" target="_blank"
                        class="icoLinkdIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
  

   

            </div>
        </div>
    </div>
</footer>
