input {
    border-radius: 0 8px 8px 0;
}

input:focus {
    background-color: #EEDE1C;
    border: solid 2pt #111111 !important;
}

.login{
    max-width: 400px;
    background-color: #ffffff;
    height: 550px;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 0px 30px 7px rgba(0,0,0,0.71);
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: #EEDE1C;
}

.container {
    height: 100vh;
    background-color: transparent;
}

.totoro {
    background-image: url(../../assets/totoro.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
}