<div class="background">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="login p-5">
          <div class="totoro"></div>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
    
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              type="password"
              class="form-control"
              id="senha"
            />
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="lembre" />
          <label class="custom-control-label" for="lembre">Me Lembre</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>
