.bg-yellow {
    background-color: #EEDE1C;
}

.form-container {
    background-color: #ffffff;
    height: fit-content;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 0px 30px 7px rgba(0,0,0,0.71);
}

.form-block {
    padding: 20px;
    min-width: 250px;
}

input {
    border-radius: 0 8px 8px 0;
}

input:focus {
    background-color: #EEDE1C;
    border: solid 2pt #111111 !important;
}