<div class="container-fluid bg-yellow d-flex justify-content-center">
  <div class="form-container m-auto p-5">
    <form class="d-flex flex-wrap align-items-center">
      <div class="form-block">
        <div class="w-100 d-flex justify-content-center">
          <img
            height="400px"
            src="../../assets/sem-rosto.png"
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            [(ngModel)]='user.nome'
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            aria-describedby="nomeHelp"
            placeholder="Nome"
            required
          />
        </div>
        <div class="form-group">
          <label for="foto">Foto de perfil</label>
          <input
            [(ngModel)]='user.foto'
            type="text"
            class="form-control"
            id="foto"
            name="foto"
            aria-describedby="fotoHelp"
            placeholder="Link da foto"
            required
          />
        </div>
        <div class="form-group">
          <label for="usuario">Email</label>
          <input
            [(ngModel)]='user.usuario'
            type="email"
            class="form-control"
            id="usuario"
            name="usuario"
            aria-describedby="emailHelp"
            placeholder="Digite seu Email"
            required
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            (input)="confirmarSenha($event)"
            type="password"
            class="form-control"
            id="senha"
            name="senha"
            placeholder="Senha"
            required
          />
        </div>
        <div class="form-group">
          <label for="confirmSenha">Confirmar Senha</label>
          <input
            [(ngModel)]='user.senha'
            type="password"
            class="form-control"
            id="confirmSenha"
            name="confirmSenha"
            placeholder="Digite novamente"
            required
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-group">
          <label for="tipo">Tipo de usuário</label>
          <select
            class="form-control"
            name="tipo"
            id="tipo"
            (change)="tipoUser($event)"
          >
            <option>Selecione um tipo de usuário:</option>
            <option value="normal">Normal</option>
            <option value="adm">Admin</option>
          </select>
        </div>
        <div class="d-flex justify-content-around">
          <div
            (click)="cadastrar($event)"
            type="submit"
            class="btn rounded-circle btn-yellow"
          >
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </div>
          <div
            routerLink="/login"
            class="btn rounded-circle btn-yellow"
          >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
